@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:ital,wght@0,600;1,400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  font-family: 'Roboto Mono';
  text-align: center;
  font-size: 45px;
  padding: 50px;
}

.searchbox {
  text-align: center;
}

.userinfo {
  font-family: 'Roboto Mono';
  padding: 20px;
  text-align: center;
}


.photo {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.followerphoto {
  height: 100px;
  width: 100px;
}

#followerslist {
  padding: 20px;
}

/* used ID to override font styles */

#foundtext {
  font-family: 'Roboto Mono';
}

#foundname{
  font-family: 'Roboto Mono';
}